.header {
    background-color: var(--clr-neutral-white);
    position: relative; /* Bezugspunkt für hero__img und mobile navbar */
    z-index: 9999; /* Überdecke hero__img */
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: block;
    margin: auto 0;
}

.header__list {
    display: none;
    list-style: none;
    padding: 0;
}

.header__link {
    text-decoration: none;
    color: var(--clr-neutral-grayish-blue);
}

.header__btn {
    display: none;
}

/* xs */
/*@media (min-width: 475px) { }*/

/* sm */
/*@media (min-width: 640px) { }*/

/* md */
@media (min-width: 768px) {
    .header__menu-btn {
        display: none;
    }
    .header__list {
        display: flex;
        gap: 1rem;
        height: 100%;
        align-items: center;
    }
    .header__btn {
        display: inline-block;
        font-size: var(--size-base);
    }
    .header__link {
        font-size: var(--size-base);
    }
    .header__link:hover {
        color: var(--clr-primary-dark-blue);
        border-bottom: 3px solid var(--clr-primary-lime-green);
    }

}

/* lg */
@media (min-width: 1024px) {
    .header__btn {
        font-size: var(--size-lg);
    }
    .header__link {
        font-size: var(--size-lg);
    }
}

/* xl */
@media (min-width: 1280px) {
    .header__btn {
        font-size: var(--size-xl);
    }
    .header__link {
        font-size: var(--size-xl);
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .header__btn {
        font-size: var(--size-2xl);
    }
    .header__link {
        font-size: var(--size-2xl);
    }
}